<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo02.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.example.demo02.domain.Users">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="password" column="password" />
            <result property="role" column="role" />
            <result property="login" column="login" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,role,login,status
    </sql>
</mapper>
